

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>weather Api</title>
    <style>
            *{
                margin: 0;
                padding: 0;
            }
            body{
                text-align: center;
                background-color:lightblue;
            }
            section{
                margin-top: 300px;
            }

    </style>
</head>
<body>
    <section>
    <form method="get">
        <input class="form-control" name="city" placeholder="Enter City">
        <button type="submit">submit</button>
    </form>

    <div class="info">
        <div style="{backgroundImage:http://openweathermap.org/img/wn/{{data.icon}}.png}">
            <img src="http://openweathermap.org/img/wn/{{data.icon}}.png">
        </div>
        <h4>  
            {{data.city}}
        </h4>
        <h4 id="date">
            3/12/2022
        </h4>
        <h4 id="time">
            {{data.time}}
        </h4>
        <h1 class="temp">
            Temperature : {{data.temperature}} C
        </h1>
        <h1 class="temp">
            Temperature feels like : {{data.feel}} C
        </h1>
        <h3 class="tempmin_max">
            Min Temperature : {{data.temp_min}} C | Max Temperature : {{data.temp_max}} C
        </h3> 

    </div>
</section>

    <script>
        const getcurrentday = ()=>{
            var days = new Array(7);
            days[0]="Sunday";
            days[1]="Monday";
            days[2]="Tuesday";
            days[3]="Wednesday";
            days[4]="Thrusday";
            days[5]="Friday";
            days[6]="Saturday";
            let currentday= new Date();
            let day = days[currentday.getDay()];
            return day;
        }
        const getcurrentdate = ()=>{
            var month = ["Janurary","Febrary","March","April","May","June","July","August","September","October","November","December"];
            var currentdate = new Date();
            var date = currentdate.getDate();
            var month = month[currentdate.getMonth()];
            var year = currentdate.getFullYear();
            return (date+"/"+month+"/"+year);
        }
        date.innerText = getcurrentday() + " | " + getcurrentdate();
        setINTERVAL(a,1000)
        function a(){
            let time = new Date().toLocaleTimeString()
            document.getElementById('time').innerText = time;
        }    
    </script>
</body>
</html>